
/* basic reset */

*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color:#D6D3D0;
}


/* styling for the header  */
.pickle{
    background-image: url(./images/pickle.gif);
    height: 70vh;
    position: relative;
    
    
}

.headerintro {
    background-color: #d6d3d0;
    width:40%;
    height: 90%;
    position:absolute;
    left: 80rem;
    top: 3rem;
    border-radius: 2rem;
   
   
}

/* style of title */
.rickety {
   font-family: 'Ubuntu', sans-serif;
   font-size: 3.5rem;
   margin-bottom: 2.5rem;
   text-align: center;
}

.wrecked{
    color: #8C1A6A ;
    font-style: italic;
    font-family: 'Gloria Hallelujah', cursive;
   
}

/* style of image */
img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 45rem;
    width: 64rem;
}
/* style of first paragraph */
p {
    font-family: 'Poppins', sans-serif;
    
    
}

.p1{
    font-size: 1.8rem;
    text-align: justify;
    padding: 2rem;
   
}

/* style of second paragraph */  
.p2{
   font-size: 1.5rem;
   padding: 2rem;
}








/* styling for form */

.form-section{
   height:110rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.form{
    font-family: 'Roboto', sans-serif;
    background-color: #D6D3D0;
    width:50rem;
    height:90rem;
    margin-top:10rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    border-radius: 25%;
    font-size: 1.8rem;

}

.btn{
    width: 11rem;
    height: 5rem;
    
}






/* styling for the story */

.story{
   
    
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}

#answer{
    font-family: 'Roboto', sans-serif;
    font-weight: 2rem;
    text-align:justify;
    height: 100%;
    width: 80rem;
    margin: 1rem;
    padding: 2rem;
    font-size:2.8rem;

}


/* media queries */

/* mobile device screens iphone & android */
@media only screen and (max-width: 600px){
	.pickle{
        font-size: 2rem;
    }

    img {
        height: 22.5rem;
        width:32rem;
    }

    #answer{
        font-size: 1.5rem;
    }
}